* {
padding:0;
margin:0;
font-family:'Segoe UI',Arial,Helvetica,sans-serif,Ubuntu;
}

/* *************** 2 column layout ********** */
body {
	margin:0;
	padding:0;
	color:#000000;
	background:#CCCCCC;
	font-size:62.5%; /* for easy em usage in font-size. 12pt=1.2em */
}

p {
line-height:1.5em;
font-size:1.5em;
margin-top:5px;
margin-bottom:10px;
white-space:wrap;
}

.small {
line-height:1.3em;
font-size:1.3em;
}

span {
white-space:nowrap;
}

a, a:link {
color:#003471;
/*font-size:1em;*/
}

a:hover {
text-decoration:none;
}

img {
border:0;
}

li {
margin-left:20px;
font-size:1.3em;
}

div.clear {
clear:both;
}

.pagewrap {
width: 90%;
min-width: 800px;
border-left:4px solid #BBB;
border-right:4px solid #BBB;
margin: 0 auto;
background-color:#FFF;
}


/* page content */
.contentwrap {
margin:25px 30px 0px 30px;
}

.contentsection {
margin-bottom:25px;
}

.spacious_block {
padding:20px 30px;
}

.table_wrap {
/* For IE must ave an inner <div style="width:100%;">*/
display:block;
margin-left:-12px;
margin-right:-13px;
}

.column_wrap25 {
display:block;
width:25%;
float:left;
}

.column_wrap33 {
display:block;
width:33.3%;
float:left;
}

.column_wrap66 {
display:block;
width:66.6%;
float:left;
}

.columnn_inner {
padding-left:12px;
padding-right:13px;
display:block;
}

.columnn_inner_w { /* extra Width */
padding-left:20px;
padding-right:20px;
display:block;
}

.title {
font-weight:normal;
border-bottom:1px SOLID #92278F;
font-size:4.8em;
color:#92278F;
line-height:1em;
}

.contentwrap h1 {
color:#92278F;
margin-bottom:10px;
font-weight:normal;
}

.contentwrap h2 {
margin:15px 0 5px 0;
font-size:1.8em;
color:#003471;
}

.contentwrap h3 {
font-size:1.6em;
}

.contentwrap li {
font-size:1.5em;
}



.content_more a, .content_more a:visited {
text-decoration:none;
}
.content_more a:hover {
text-decoration:underline;
}


/* button link */
.btlink {
display:inline-block;
padding:4px 10px;
margin-right:10px;
background:#F3D1F5;
color:#003471;
border:1px SOLID #ECC6EE;
border-radius:5px;
font-size:1.1em;
text-decoration:none;
}
a.btlink:hover {
background:#F6E4F7;
color:#020A72;
text-decoration:underline;
}



.hblock2 {
width:100%;
min-height:125px;
}

.hblock2 h3 {
font-size:1.28em;
background:#A324A1;
padding:5px 8px;
margin-bottom:5px;
color:#FFF;
}

.hblock2 li {
list-style:none;
font-size:1.32em;
margin:0;
}

.hblock2 a, .hblock2 a:visited {
display:block;
padding:1px 8px;
text-decoration:none;
color:#020A72;
}

.hblock2 a:hover {
background:#E1F2FC;
}




.contentbox {
display:block;
padding: 0px;
border:1px SOLID #ccc;
}

.contentbox .contentbox_h2 {
margin:0px;
padding:3px 10px;
background-color:#eee;
border-bottom:1px solid #ccc;
font-size:2.64em;
color:#92278F;
/* border-bottom:5px SOLID #92278F; */
font-weight:normal;
}

.contentbox_white { /* used in contentbox*/
display:block;
padding:10px 15px;
}

.contentbox_grey { /* used in contentbox*/
display:block; 
padding:10px 15px;
background:#eee;
}

.contentboxmore {
margin-top:0px;
margin-bottom:0px;
}

.contentboxmore a {
display:block;
text-align:center;
color:#000;
text-decoration:none;
padding:5px;
margin-top:5px;
border-top:1px SOLID #ccc;
}
.contentboxmore a:hover {
background:#eee;
border-top:1px SOLID #BD8CBF;
}




.contentfeed {
color:#000;
display:block;
}
.contentfeed h2 {
margin-top:0px;
}
.contentfeed .indent {
margin-left:20px;
}
.contentfeed a {
color:#000;
text-decoration:none;
}
.contentfeed_item {
padding:0 5px 0 5px;
margin-bottom:10px;
}
.contentfeed_more {
float:right;
vertical-align:text-bottom;
line-height:1.5em;
}
.contentfeed a:hover div.contentfeed_item {
background-color:#eee;
}



.contentfeed_small_item {
display: block;
margin-bottom:5px;
line-height:1.3em;
}

.contentfeed_small_item div {
padding:2px 5px 2px 5px;
}

.contentfeed_small_item p {
padding:0px;
margin:0px;
}

.contentfeed_small_item p.contentfeed_small_light {
color:#818181;
margin-left:10px;
}

.contentfeed_small_item a {
text-decoration:none;
color:#000;
}

.contentfeed_small_item a div {
color:#000;
}

.contentfeed_small_item a:hover div {
background-color:#eee;
}

/* style for new items in the recent posts */
.contentfeed_small_item div.new {
/*border:1px SOLID #81237E;*/
}




.contentfeed_bullets li {
margin-bottom:5px;
}




.randproj img {
float:left;
padding-right:20px;
}
.randproj h2 {
margin:0px 0 5px 0;
}
.randproj_text {
font-size:1.3em;
}
.randproj_note {
}
.randproj_note p {
font-size:1.3em;
}


.tipofday {
min-height:50px;
}
.tipofday h2 {
margin:0px 0 5px 0;
}

.tipofday p {
font-size:1.3em;
}
.tipofday img {
max-height:200px;
}


.footer {
padding: 10px 40px 5px;
height:45px;
background-color: #FFE4FE;
border-top:1px SOLID #DABADC;
margin-top:30px;
}

.foot_left {
float:left;
color:#92278F;
padding-top:10px;
}

.foot_right {
float:right;
}

.page {
min-height: 500px;
}

/*Features*/
.long_borders {
padding-bottom: 900px;
margin-bottom: -900px;
border-bottom:0px;
}

.end_borders {
margin-top: -99px;
height: 100px;
border-top:0px;
}


/* FORM ELEMENTS */
input[type=submit], input[type=reset] {
padding:5px;
font-size:18px;
cursor:pointer;
cursor:hand; /* for illogical browsers */
}

input[type=submit] {
font-weight:bold;
}



/*top banner*/

.top_sep {
display:block;
height:30px;
background-color:#ffffff;
clear:both;
}
.top_bar {
display:block;
min-height:70px;
text-align:right;
background:url(images/topbar_bg_tile.gif);
background-size:100% 100%;
background-repeat:repeat-x;
background-color:#b868cc;
overflow-y:hidden;
}

.top_logo_bg {
display:block;
width:100%;
background:url(images/top_logo_bg.png);
background-repeat:no-repeat;
}

.top_logo {
display:block;
width:320px;
min-height:70px;
float:left;
font-weight:normal;
font-size:4.8em;
color:#FFFFFF;
line-height:1em;
text-align:left;
}

.top_links {
padding:28px 40px 15px 300px;
font-size:1.4em;
text-transform:uppercase;
}

.top_links a, .top_links a:visited, .top_logo a, .top_logo a:visited {
color:#FFF;
font-size:1.0em;
font-weight:bold;
text-decoration:none;
padding:3px;
}

.top_links a:hover {
color:#FFF;
border-bottom:5px SOLID #FFE4FE;
}

/*main page banner*/

.slidewrap_bg {
background:url(images/mid_bg2.jpg);
background-size:100% 100%;
background-repeat:repeat-x;
background-color:#00002f;
display:block;
}

.slidewrap {
background:url(images/mid_design2.jpg);
background-size:580px 100%;
background-repeat:no-repeat;
display:block;
min-height:235px;
border-top:10px SOLID #92278F;
border-bottom:10px SOLID #92278F;
margin-bottom:15px;
}

.slidewrap .left_shot {
float:left;
margin:20px 0 0 40px;
}

.slider_r {
position:relative;
padding:15px 50px 0 0;
text-align:right;
color:#fff;
}

.slider_r h1 {
font-size:2.4em;
line-height:1em;
}

.slider_r h2 {
font-weight:normal;
font-size:1.9em;
margin-bottom:10px;
}

.slider_r ul.right {
margin-bottom:10px;
}

.slider_r ul.right li {
list-style:none;
background: url(images/bullet_1.gif) no-repeat right;
padding-right: 1.4em;
}

a.download_btn {
display:inline-block;
width:203;
height:36;
background:url(images/download_btn.gif);
color:transparent !important;
}

.slider_r a {
color:#fff;
}

.dl_menu {
position:absolute;
right:50px;
max-width:350px;
background-color:#136BB8;
padding:5px;
color:#fff;
text-align:left;
}

.dl_menu ul {
margin:0;
}

.dl_menu li {
list-style:none;
margin:0;
}

.dl_menu li a {
display:block;
color:#fff;
padding:5px;
text-decoration:none;
}

.dl_menu li a:hover {
background-color:#fff;
color:#000;
}


